<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/root/styles.css">
  <title>Register</title>
</head>

<body class="bg-light">
  <div class="d-flex flex-column vh-100 justify-content-center align-items-center" style="text-align: center;">
    <div class="card w-25" style="height:470px">
      <div class="card-header bg-dark text-white">
        <h2><b>Register</b></h2>
      </div>
      <div class="card-body">
        <p>Enter your credentials to register to the platform. Please use your university email.</p>
        <form method="POST" action="">
            {% csrf_token %}
          <div class="form-group">            
            {{form.username}}
          </div>
          <div class="form-group">          
            {{form.email}}
          </div>
          <div class="form-group">           
            {{form.password1}}
          </div>
          <div class="form-group">           
            {{form.password2}}
          </div>
          <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p> 
          <button type="submit" class="btn btn-warning">Register</button>
        </form>
      </div> 

      {{form.errors}}
      
    </div>
  </div>

  <script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = "Username";
    form_fields[2].placeholder = "Email";
    form_fields[3].placeholder = "Password";
    form_fields[4].placeholder = "Re-enter Password";
  
  for(var field in form_fields){
    form_fields[field].className += "form-control";
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>